

        <section id="viewCatalog" class="background-img">
            <div class="added-hotels">
                {{#each hotels}}
                <a href="/hotels/{{_id}}/details" class="added-hotel">
                    <img src="{{image}}" alt=""
                        class="picture-added-hotel">
                    <h3>{{name}}</h3>
                    <span>Free rooms: {{freeRooms}}</span>
                </a>
           {{else}}
            </div>
          <div class="guest">
                There are no Hotels found...
            </div>
                 {{/each}}
        </section>

 