
    <section class="details-page">
        <h1>Details</h1>
        <article class="details-card">

            <article class="details-card-text">
                <h2>Title:<br> {{book.title}}</h2>
                <h3>Author: {{book.author}}</h3>
                <h3>Stars: {{book.stars}}</h3>
                <h3>Genre: {{book.genre}}</h3>
                <h3>{{book.review}}</h3>

                    {{#if isAuthenticated}}
                <div class="buttons">
                   {{#if isOwner}}
                    <a href="/books/{{book._id}}/edit" class="btn-edit">Edit</a>
                    <a href="/books/{{book._id}}/delete" class="btn-delete">Delete</a>
                 {{/if}}
                    {{#unless isOwner}}
                   {{#if book.alreadyRead}}
                    <p class="wish-pub">You already added the book to your wish list</p>
                    {{else}}
                    <a href="/books/{{book._id}}/wishingList" class="btn-wish">Wish to read</a>
                    {{/if}}
                    {{/unless}}
                   
                </div>
                {{/if}}
            </article>

            <article class="details-card-image">
                <img src="{{book.image}}">
            </article>

        </article>
    </section>
