<main>

    <section id="details-page">

        <div class="main_card">
            <div class="card_left">
                <div class="card_datails">

                    <h1>Name: {{post.name}}</h1>
                    <h3>Created by an author: {{post.owner.firstName}} {{post.owner.lastName}}</h3>
                    <div class="card_character">
                        <p class="card-species">Species: {{post.species}}</p>
                        <p class="card-skin">Skin color: {{post.skinColor}}</p>
                        <p class="card-eye">Eye Color: {{post.eyeColor}}</p>
                    </div>

                    <p class="disc">{{post.description}}</p>

                    {{#if isAuthenticated}}
                    <div class="social-btn">
                        {{#if isOwner}}
                        <a href="/posts/{{post._id}}/edit" class="edit-btn">Edit</a>
                        <a href="/posts/{{post._id}}/delete" class="del-btn">Delete</a>
                         {{/if}}
                       {{#unless isOwner}}
                        {{#if post.alreadyVoted}}
                        <p class="thanks-for-vote">Thanks For Voting</p>
                        {{else}}
                        <a href="/posts/{{post._id}}/votes" class="vote-up">Vote</a>
                        {{/if}}
                        {{/unless}}
                       

                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="card_right">
                <img src="{{post.image}}" alt="image">
            </div>
        </div>

    </section>

    <section id="votes">
        <div class="vote-info">
            <div class="card_left">
                <div class="card_datails">
                    <h1>Votes</h1>
                    <div class="card_vote">
                        {{#if resultEmail}}
                        <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
                        <p class="PV">Total rating of votes: {{emails.length}}</p>
                    </div>
                    <!-- If there are already people who have cast their vote for the post, separate their emails with a comma and a space ", " -->
                     <p class="disc"> {{resultEmail}} </p>

                  {{else}}
                    <p class="disc">People who voted for the post - No one has voted yet.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>

</main>